* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}

body {
  background-color: #F5F5F5; 
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
}

.vertical-line:hover {
  border-bottom: 4px solid rgb(188, 209, 231); /* Primary Color - Deep Blue */
}

h3 {
  font-size: 1.5rem;
  color: #ffffff; /* Primary Color - Deep Blue */
}

nav {
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid black;
  background-color: #003366; /* Primary Color - Deep Blue */
}

.icons {
  position: absolute;
  right: 0;
  padding-right: 2rem;
}

h1 {
  font-size: 39px;
  font-family: sans-serif;
  width: fit-content;
  margin: 1rem auto;
  text-align: center;
  color: #003366;
}

p {
  margin: 0;
  padding: 0.5rem;
}

.book-collection {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 4rem;
  margin: auto;
  background-color: rgb(203, 205, 206);
}

.book-collection div:nth-child(odd) {
  background-color: rgb(223, 234, 246); 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 29px;
  width: auto;
  margin-right: 0.5rem;
  padding: 3px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #FFD700;
  border: none;
  font-size: 12.9px;
  font-weight: 500;
  color: #003366;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 1rem;
}

.form h1 {
  margin: 0;
}

.add {
  width: fit-content;
  align-self: flex-end;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: #003366; /* Primary Color - Deep Blue */
}

input {
  padding: 0.5rem;
  border: 1px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #003366;
}

footer p {
  color: #ffffff
}

.contact-information {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  align-items: center;
  line-height: 26px;
}

.contact-information ul {
  margin-left: 3rem;
  line-height: 1.5rem;
}

.contact-information ul li {
  list-style: disc;
}

.hidden {
  display: none;
}

section {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booklist,
.contact-information {
  width: 100%;
}

.date {
  float: right;
  font-size: 0.8rem;
  font-weight: 600;
  color: #800020; 
}

@media (max-width: 600px) {

  body {
    background-color: #EFEFEF; 
  }

  nav {
    flex-direction: column; 
    text-align: center; 
  }

  .icons {
    position: relative; 
    padding: 1rem 0; 
  }

  .book-collection {
    width: 100%; 
  }

  .book-collection div:nth-child(odd) {
    background-color: rgb(223, 234, 246); 
  }

  .container {
    flex-direction: column; 
  }

  button {
    width: 100%; 
    margin-right: 0; 
    margin-top: 0.5rem; 
  }

  .form {
    width: 100%; 
  }

  .add {
    align-self: center; 
    margin-top: 0.5rem; 
  }

  section {
    top: 50%; 
  }

  .date {
    float: none; 
    text-align: center;
  }

  footer {
    flex-direction: column; 
    text-align: center; 
  }
}
